.vehicles__page {
  &--all-armored-vehicles {
    display: grid;
    background-color: $color-grey-light-1;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    // height: 100vh;
    margin: 5rem 5rem;
  }
}
