.vehicles__page {
  &--all-armored-vehicles {
    display: grid;
    background-color: $color-grey-light-1;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    // height: 100vh;
    margin: 5rem 5rem;
  }
}

.contact__page {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));

  &-details {
    margin: 2rem 5rem;
  }
}
