.home_section--main {
  background-color: $color-grey-light-1;

  @include respond(tab-port) {
  }
}

.section__mission-statement {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  position: relative;
  background-color: #f7f7f7;
  font-size: clamp(1rem, 0.714rem + 1.429vw, 1.5rem);
  // z-index: 1;
  color: #777;
  // margin-top: 2rem;

  @include respond(phone) {
    display: flex;
    font-size: clamp(1.6rem, 0.714rem + 1.429vw, 1.5rem);
    height: 90rem;
    flex-direction: column;
  }

  @include respond(mini-phone) {
    height: 60rem;
  }

  &-col-1 {
    display: flex;
    margin: 2rem;
    flex-direction: column;
    padding: 0 2rem;
    text-align: justify;

    @include respond(tab-port) {
      // margin-top: 1rem;
    }
    @include respond(mini-phone) {
      font-size: clamp(1rem, 0.714rem + 1vw, 1.5rem);
    }

    & p {
      @include respond(tab-port) {
        animation: none !important;
      }
    }

    @include respond(tab-port) {
      margin-top: 0;
    }

    & .btn-text {
      width: fit-content;
    }
  }

  &-col-2 {
    margin: 2rem;
  }
}

.section__mission_statement-2 {
  background-image: url("../src/assets/img/sleek_black.jpg");
  background-size: cover; /* Ensure the image scales properly */
  background-position: center; /* Keeps the image centered */
  position: relative;
  height: 85rem;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

  @include respond(mini-phone-land) {
    height: 50rem;
  }

  @include respond(phone) {
    height: 70rem;
  }
  @include respond(mini-phone) {
    height: 70rem;
  }

  &-item {
    &--1 {
      @include respond(phone-land) {
      }

      @include respond(mini-phone-land) {
        height: 28rem;
      }
      @include respond(phone) {
        display: none;
        visibility: hidden;
      }
    }

    &--2 {
      color: #777;
      padding: 5rem 5rem;
      font-family: "Poppins", "sans-serif";
      text-align: justify;
      background-color: #777;
      font-size: clamp(1rem, 0.714rem + 1.429vw, 2rem);
      color: #fff;
      height: 31.49rem;
      font-size: 1.1vw;
      width: 100%;
      padding: 3rem;

      @include respond(phone-land) {
        text-align: none;
        font-size: clamp(1rem, 0.2rem + 1.429vw, 2rem);
      }

      @include respond(mini-phone-land) {
        height: 28rem;
      }

      @include respond(phone) {
        text-align: none;
        height: 35rem;
        font-size: clamp(1.6rem, 0.714rem + 1.429vw, 2rem);
      }

      @include respond(mini-phone) {
        height: 35rem;
        font-size: clamp(1.3rem, 0.714rem + 1.429vw, 2rem);
      }

      p {
        font-family: "Poppins", "sans-serif";

        @include respond(tab-port) {
        }
      }
    }

    &--3 {
      @include respond(tab-port) {
        flex: 0.3;
        height: 35rem;
      }

      @include respond(tab-port) {
        display: none;
        visibility: hidden;
      }
    }

    .phylote-logo {
      visibility: hidden;
      display: none;
      height: 37%;
      width: 100%;
      visibility: visible;
      display: block;

      @include respond(mini-phone-land) {
        visibility: visible;
        height: 100%;
        width: 100%;
        display: block;
      }
    }
  }

  &-global-reach {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98vw;
    top: 55%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Bebas Neue", sans-serif;

    @include respond(phone-land) {
      top: 55rem;
    }

    @include respond(mini-phone-land) {
      top: 40rem;
    }

    @include respond(phone) {
      top: 52rem;
    }

    @include respond(mini-phone) {
      top: 55rem;
    }

    h1 {
      font-size: clamp(3rem, 0.714rem + 3.429vw, 6.4rem);
      color: $color-primary;

      @include respond(phone-land) {
        font-size: 6rem;
      }

      @include respond(mini-phone-land) {
        font-size: 4rem;
      }

      @include respond(phone) {
        font-size: 5.8rem;
      }

      @include respond(mini-phone) {
        font-size: 3rem;
      }
    }

    span {
      color: aliceblue;
    }

    p {
      text-align: center;
      color: aliceblue;
      font-family: "Poppins", sans-serif;
      width: 50%;
      font-size: 1.6rem;

      @include respond(tab-port) {
        width: 80%;
        font-size: 1.6rem;
      }

      @include respond(tab-port) {
        font-size: 1.6rem;
      }
    }
  }
}

.section-vehicle__category {
  position: relative;
  height: 70rem;
  background-image: linear-gradient(
      to left bottom,
      rgba($color-black, 0.6),
      rgba($color-primary-dark, 0.6)
    ),
    url("../src/assets/img/flag-nigeria.jpg");
  background-size: cover;
  padding: 17rem 2rem;
  transform: skewY(-7deg);
  margin-top: -8rem;
  z-index: 999;
  margin-bottom: 6rem;

  @include respond(phone-land) {
    padding: 8rem 0rem;
    height: 70rem;
  }

  @include respond(mini-phone) {
    visibility: hidden;
    display: none;
  }

  @include respond(mini-phone-land) {
    visibility: hidden;
    display: none;
  }

  &-flex {
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
    height: 100%;

    @media (min-width: 760px) {
      margin-left: 3vw;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
  }

  & > * {
    transform: skewY(7deg);
  }

  & .feature-box {
    height: 20rem;
    width: 90%;
    margin: 2rem 1rem;

    @media (min-width: 760px) {
      justify-content: center;
      display: flex;
      width: 17vw;
      height: 25rem;
    }
  }
}

.section-vehicle__most-used {
  height: 80rem;
  background-color: $color-grey-light-1;
  margin-top: 2rem;
  padding: 0 2rem;

  &-card-carousel {
    display: none;

    @include respond(phone-land) {
      display: block;
      padding: 0 20.5rem;
      margin-bottom: 6rem;
    }

    @include respond(mini-phone-land) {
      padding: 0 13.5rem;
      margin-bottom: 5rem;
    }

    @include respond(phone) {
      display: block;
      padding: 0;
      margin-bottom: 4rem;
    }

    @include respond(mini-phone) {
      display: block;
      padding: 0;
      margin-bottom: 4rem;
    }
  }

  &-flex {
    @include respond(tab-port) {
    }

    @include respond(tab-port) {
      display: none;
    }
  }
}

.btn-text {
  margin-top: 6.6rem;

  @include respond(tab-port) {
    margin-top: 0;
  }

  @include respond(phone) {
    font-size: 1.3rem !important;
  }
}

.section__service {
  padding-bottom: 50rem;
  position: relative;
  height: 80vh;
  width: 100%;
  position: relative;
  background-color: $color-grey-light-1;

  @include respond(tab-port) {
    padding-bottom: 0;
    height: 35rem;
  }

  &-support {
    // background-image: url("../public/img/nigeria_flag.jpg");
  }

  &-support-box {
    background-image: url("../src/assets/img/sleek_black.jpg");
    background-size: cover; /* Ensure the image scales properly */
    background-position: center; /* Keeps the image centered */
    width: 70%;
    height: 40rem;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%) skewX(-12deg);

    @include respond(tab-port) {
      width: 100%;
      padding-top: 3rem;
      transform: translate(-50%, -50%) skewX(0deg);
    }
  }

  &-support-box:hover &-support {
    & span {
      color: $color-white;
    }

    & h1 {
      color: $color-primary;
      transition: color 0.3s;
    }
  }

  &-support {
    text-align: center;
    font-family: $font-style-secondary;
    margin: 5rem 5rem;
    transform: skewX(12deg);

    @include respond(tab-port) {
      margin: 5rem 0;
      width: 100%;
      transform: skewX(0deg);
    }

    & p {
      font-size: 2rem;
      font-family: $font-style-primary;
      padding: 0 10rem;
      color: $color-white;
      display: block;

      @include respond(tab-port) {
        text-align: center;

        font-size: clamp(1rem, 1rem + 1.5vw, 2rem);
        padding: 0;
      }
    }

    &-header {
      font-size: 6.4rem;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      color: $color-white;

      @include respond(tab-port) {
        font-size: 4.8rem;
        align-items: center;
        text-align: center;
        letter-spacing: 0;
      }

      & span {
        color: $color-primary;
        transition: color 0.3s;
      }
    }

    &-link {
      margin-top: 3rem;
      font-size: 3rem !important;

      @include respond(tab-port) {
        margin-top: 1rem;
        font-size: 2rem !important;
      }
    }

    &:hover {
    }
  }
}

.welcome {
  margin-top: 6rem;

  @include respond(tab-land) {
    margin-top: 1rem;
  }

  @include respond(tab-port) {
    margin-top: 1rem;
  }

  @include respond(tab-port) {
    margin-top: 1rem;
  }
}

.heading-primary {
  color: $color-primary;

  & h1 {
    @include respond(tab-port) {
    }

    @include respond(tab-port) {
      font-size: 4rem;
    }
  }

  & span {
    color: aliceblue;
  }
}

.heading-primary--sub {
  color: aliceblue;
}
