.home_section--main {
  background-color: $color-grey-light-1;

  @include respond(phone) {
  }
}

.section__mission-statement {
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  display: flex;
  position: relative;
  background-color: #f7f7f7;
  height: 50rem;
  font-size: 1.6rem;
  z-index: 1;
  color: #777;

  @include respond(phone) {
    flex-direction: column;
    padding-bottom: 70rem;
  }

  @include respond(tab-port) {
    flex-direction: column;
    padding-bottom: 60rem;
  }

  &-col-1 {
    display: flex;
    margin-top: 7rem;
    flex-direction: column;
    padding: 0 2rem;
    text-align: justify;
    flex: 1;

    @include respond(phone) {
      margin-top: 1rem;
    }

    @include respond(tab-port) {
      margin-top: 1rem;
    }

    a {
      width: fit-content;
    }

    p {
      margin-bottom: 2rem;
    }
  }

  &-col-2 {
    flex: 1;
    height: 100%;

    @include respond(phone) {
      margin-top: 5rem;
    }

    @include respond(tab-port) {
      margin-top: 5rem;
    }
  }
}

.section__mission_statement-2 {
  background-image: url("../src/assets/img/clean.png");
  position: relative;
  height: 85rem;
  padding-top: 4vh;
  margin-top: -11.5vh;
  display: flex;

  @include respond(phone) {
    padding-top: 0;
    margin-top: 0rem;
  }

  @include respond(tab-port) {
    padding-top: none;
    margin-top: none;
  }

  &-item {
    flex: 1;

    @include respond(phone) {
    }

    @include respond(phone) {
    }

    @include respond(phone) {
    }

    &--1 {
      padding-top: 2.5rem;

      @include respond(phone) {
      }

      @include respond(phone) {
      }
    }

    &--2 {
      color: #777;
      display: flex;
      padding: 5rem 5rem;
      font-family: "Poppins", "sans-serif";
      font-size: 1.3rem;
      text-align: justify;
      background-color: #777;
      font-size: 1.6rem;
      color: #fff;
      height: 41.3rem;

      @include respond(phone) {
        display: inline-block;
        height: 35rem;
      }

      @include respond(tab-port) {
        display: inline-block;
        height: 35rem;
      }

      @include respond(desktop) {
        flex: 1;
      }

      @include respond(big-desktop) {
        flex: 1;
      }

      p {
        font-family: "Poppins", "sans-serif";
      }
    }

    .phylote-logo {
      width: 100%;

      @include respond(phone) {
        visibility: hidden;
      }

      @include respond(phone) {
        visibility: hidden;
      }
    }
  }

  &-global-reach {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98vw;
    top: 70%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Bebas Neue", sans-serif;

    h1 {
      font-size: 6.4rem;
      color: $color-primary;

      @include respond(phone) {
        font-size: 5.4rem;
      }

      @include respond(tab-port) {
        font-size: 5.4rem;
      }
    }

    span {
      color: aliceblue;
    }

    p {
      text-align: center;
      color: aliceblue;
      font-family: "Poppins", sans-serif;
      width: 50%;
      font-size: 1.6rem;

      @include respond(phone) {
        width: 80%;
        font-size: 1.6rem;
      }

      @include respond(tab-port) {
        font-size: 1.6rem;
      }
    }
  }
}

.section-vehicle__category {
  height: 100vh;
  background-image: linear-gradient(
      to left bottom,
      rgba($color-black, 0.6),
      rgba($color-primary-dark, 0.6)
    ),
    url("../src/assets/img/flag-nigeria.jpg");
  background-size: cover;
  padding: 17rem 2rem;
  transform: skewY(-7deg);
  margin-top: -8rem;
  z-index: 4000;

  @include respond(phone) {
    height: 60%;
  }

  @include respond(tab-port) {
    height: 80%;
  }

  & > * {
    transform: skewY(7deg);
  }

  &-flex {
    height: 80%;

    @include respond(phone) {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @include respond(tab-port) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    & .feature-box {
      @include respond(phone) {
        height: 80%;
        width: 80%;
        margin: 3rem;
      }

      @include respond(tab-port) {
        margin: 1rem;
      }
    }
  }
}

.section-vehicle__most-used {
  height: 80rem;
  background-color: $color-grey-light-1;
  margin-top: 2rem;
  padding: 0 2rem;
}

.section__service {
  padding-bottom: 50rem;
  position: relative;
  height: 80vh;
  width: 100%;
  position: relative;
  background-color: $color-grey-light-1;

  &-support {
    // background-image: url("../public/img/nigeria_flag.jpg");
  }

  &-support-box {
    background-image: url("../src/assets/img/clean.png");
    width: 70%;
    height: 40rem;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%) skewX(-12deg);
  }

  &-support-box:hover &-support {
    & span {
      color: $color-white;
    }

    & h1 {
      color: $color-primary;
      transition: color 0.3s;
    }
  }

  &-support {
    text-align: center;
    font-family: $font-style-secondary;
    margin: 5rem 5rem;
    transform: skewX(12deg);

    & p {
      font-size: 1.8rem;
      font-family: $font-style-primary;
      padding: 0 10rem;
      color: $color-white;
      display: block;
    }

    &-header {
      font-size: 6.4rem;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      color: $color-white;

      & span {
        color: $color-primary;
        transition: color 0.3s;
      }
    }

    &-link {
      margin-top: 3rem;
      font-size: 3rem !important;
    }

    &:hover {
    }
  }
}

.welcome {
  margin-top: 6rem;

  @include respond(phone) {
    margin-top: 1rem;
  }

  @include respond(tab-port) {
    margin-top: 1rem;
  }

  @include respond(tab-land) {
    margin-top: 1rem;
  }
}

.heading-primary {
  color: $color-primary;

  & span {
    color: aliceblue;
  }
}

.heading-primary--sub {
  color: aliceblue;
}


