.vehicle__details {
  &-container {
    @include respond(tab-land) {
      margin: 3rem 2rem;
    }
  }

  &-info {
    @include respond(tab-land) {
      margin-top: 3rem;
    }
  }

  &-text {
    @include respond(tab-land) {
      color: black;
      font-size: 1.5rem;
    }
  }

  &-feature-list {
    @include respond(tab-land) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      list-style: none;
      margin: 0;
      gap: 3rem;
      padding: 0;
      text-align: start;
    }

    @include respond(tab-port) {
      grid-template-columns: repeat(1, 1fr);
    }

    & .list-item {
      display: inline-block;
      font-size: 1.6rem;
      font-weight: 600;
      font-family: $font-style-primary;
      color: black;
      border-bottom: 1px solid rgba($color-grey-dark, 0.3);
      margin: 1rem 0rem;
    }

    &:first-child {
      border-top: none;
    }
  }

  &-specs-list {
    @include respond(tab-land) {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    & .list-item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-bottom: 1px solid #ccc;
      padding: 8px 0;

      @include respond(tab-port) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    & .specs {
      font-weight: bold;
      flex: 1;
      text-align: left;
      word-wrap: break-word;
    }

    & .value {
      flex: 1;
      text-align: right;
      word-wrap: break-word;
      word-break: break-word;
    }

    & .list-item {
      display: inline-block;
      font-size: 1.6rem;
      font-weight: 600;
      font-family: $font-style-primary;
      color: black;
      border-bottom: 1px solid rgba($color-grey-dark, 0.3);
      margin: 1rem 0rem;
    }

    & .specs,
    .value {
      text-align: left; /* Align to the left for smaller screens */
      width: 100%; /* Make them stack */
    }
  }

  &-features {
    padding: 0;
    margin-bottom: 4rem;
  }

  & .list-item-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: start;
    width: 100vw;
  }

  &-features .heading-secondary,
  &-specs .heading-secondary {
    display: flex;
    justify-content: center;
    align-items: center !important;
  }

  &-carousel {
  }

  & .shortcuts {
    position: fixed;
  }
}
