.vehicles__page {
  margin-bottom: 5rem;
  &-intro {
    padding: 0 1rem;
    padding-right: 50rem;
    margin-left: 5rem;
    color: black;
    text-align: justify;

    @include respond(tab-land) {
      margin: 3rem;

      padding: 0;
    }

    @include respond(tab-port) {
      margin: 3rem;
      padding: 0;
    }
    & h1 {
      font-size: 3.5rem;
      font-family: $font-style-secondary;
      font-weight: bold;

      @include respond(tab-port) {
        font-size: 2rem;

        padding: 0;
      }
    }

    & p {
      color: black;
      font-size: 1.5rem;
      font-family: $font-style-primary;
    }
  }

  & h2 {
    font-family: $font-style-secondary;
    text-align: center;
    font-weight: bold;
    margin: 5rem;
    color: black;

    @include respond(tab-port) {
      margin: 1rem;
    }
  }

  &--all-armored-vehicles {
    display: grid;
    width: 100vw;
    background-color: $color-grey-light-1;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    // height: 100vh;
    margin: 5rem 5rem;
    @include respond(tab-land) {
      grid-template-columns: repeat(2, minmax(200px, 1fr));
      gap: 2rem;
      background-color: $color-white;
      padding: 0 10rem;
    }

    @include respond(mini-phone-land) {
      grid-template-columns: repeat(1, minmax(200px, 1fr));
      margin: 5rem;
      padding: auto;
    }

    @include respond(phone) {
      grid-template-columns: repeat(1, minmax(200px, 1fr));
      gap: 2rem;
      padding: 0 1rem;
    }

    @include respond(mini-phone) {
      grid-template-columns: repeat(1, minmax(200px, 1fr));
      gap: 2rem;
      padding: auto;
      margin: .4rem;
    }
  }
}
