.vehicle__details {
  &-container {
    @include respond(tab-land) {
      margin: 3rem 2rem;
    }
  }

  &-info {
    @include respond(tab-land) {
      margin-top: 3rem;
    }
  }

  &-text {
    @include respond(tab-land) {
      color: black;
      font-size: 1.5rem;
    }
  }

  &-feature-list {
    @include respond(tab-land) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      list-style: none;
      margin: 0;
      gap: 3rem;
      padding: 0;
      text-align: start;
    }

    @include respond(tab-port) {
      grid-template-columns: repeat(1, 1fr);
    }

    & .list-item {
      display: inline-block;
      font-size: 1.6rem;
      font-weight: 600;
      font-family: $font-style-primary;
      color: black;
      border-bottom: 1px solid rgba($color-grey-dark, 0.3);
      margin: 1rem 0rem;
    }

    &:first-child {
      border-top: none;
    }
  }

  &-specs-list {
    @include respond(tab-land) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      list-style: none;
      margin: 0;
      gap: 3rem;
      padding: 0;
      text-align: start;
    }

    & .list-item {
      display: flex;
      justify-content: space-between; /* Push child elements to opposite sides */
      align-items: center; /* Align items vertically in the center */
      padding: 0.5rem 0;
    }

    & .specs {
      text-align: left; /* Ensure the text is aligned to the left */
      flex-grow: 1; /* Optional: Allows specs to take up more space if needed */
    }

    & .value {
      text-align: right; /* Align text to the right */
      white-space: nowrap; /* Prevent wrapping if the value is too long */
    }

    & .list-item {
      display: inline-block;
      font-size: 1.6rem;
      font-weight: 600;
      font-family: $font-style-primary;
      color: black;
      border-bottom: 1px solid rgba($color-grey-dark, 0.3);
      margin: 1rem 0rem;
    }
  }

  &-features {
    padding: 0;
    margin-bottom: 4rem;
  }

  & .list-item-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: start;
  }

  &-features .heading-secondary,
  &-specs .heading-secondary {
    display: flex;
    justify-content: center;
    align-items: center !important;
  }

  &-carousel {
  }

  & .shortcuts {
    position: fixed;
  }
}

