.card {
  position: relative;
  perspective: 2500rem;
  -webkit-perspective: 2500rem;
  -moz-perspective: 2500rem;
  height: 40rem;
  width: 35rem;
  border: none;
  background-color: $color-grey-light-1;
  margin: 3rem 0rem;

  @include respond(phone) {
    perspective: none;
    -webkit-perspective: none;
  -moz-perspective: none;
    width: 100%;
    height: 40rem;
    margin: 3rem 0rem;
  }

  &-shadow {
    box-shadow: 0 1.5rem 4rem rgba($color-primary, 1) !important;
  }

  &__side {
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; // Webkit support
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.8s ease, box-shadow 0.8s ease;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;

      & h1 {
        color: $color-primary;
        margin-top: 1rem;
        font-family: $font-style-secondary;
        font-size: 2rem;
        border: 2px solid $color-white;
        visibility: hidden;

        @include respond(tab-land) {
          visibility: visible;
        }
      }
    }

    &--back {
      transform: rotateY(180deg);
      position: relative;

      @include respond(phone) {
        display: none;
      }

       @include respond(phone-land) {
        display: none;
      }

      & h1 {
        color: $color-white;
        font-family: $font-style-secondary;
        position: absolute;
        font-size: 3rem;
        border: 2px solid $color-grey-dark;
        left: 33%;
        bottom: 0;

        &:hover {
          color: $color-primary;
        }
      }

      & img {
        height: 60%;
        width: 100%;
      }

      &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(
          to right bottom,
          rgba($color-black, 0.4),
          rgba($color-white, 0.4)
        );
        height: 100%;
        width: 100%;
        pointer-events: none;
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);

    @include respond(phone) {
      transform: rotateY(0);
    }

    @include respond(phone-land) {
      transform: rotateY(0);
    }
  }

  &:hover &__side--back {
    transform: none;

    @include respond(phone) {
      transform: none;
    }
  }

  

  &__picture {
    background-size: cover;
    background-position: center; // Ensures the image is well-positioned
    height: 23rem;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  &__name {
    font-family: $font-style-secondary;
    display: flex;
    justify-content: center;
    width: 100%;

    & h3 {
      border-bottom: 1px solid $color-grey-dark;
    }
  }

  &__details {
    font-size: 1.1rem;
    padding: 0 1rem;
    color: $color-grey-dark;
    font-family: $font-style-primary;
  }
}
