.autoplay-carousel {
  height: 130vh;
  overflow: hidden;
  @include respond(phone) {
    height: 30vh;
  }

  @include respond(tab-port) {
    height: 30vh;
  }

  & img {
    height: 100%;
    object-fit: cover;
    display: block;
    width: 100%;

    @include respond(phone) {
      height: 30vh;
    }

    @include respond(tab-port) {
      height: 30vh;
    }
  }
}
