.custom-carousel {
  @include respond(phone) {
    height: 50vh !important;
  }
}

.carousel-inner {
  & img {
    width: 100%;
    height: 100%;
  }
  @include respond(phone) {
    height: 50rem !important;
    width: 100%;
    object-fit: cover;
  }

  @include respond(tab-port) {
    height: 50rem !important;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  @include respond(tab-land) {
    height: 60rem !important;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}
