.composition {
  position: relative;

  &_photo {
    height: 15rem;
    width: 42%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    top: 0;
    z-index: 10;
    outline-offset: 2rem;
    transition: all 0.2s ease-in-out; // Smooth transition
    -webkit-transition: all 0.2s ease-in-out; // Safari support

    @include respond(tab-port) {
      width: 50%;
    }

    @include respond(phone) {
      width: 50%;
    }

    &--1 {
      top: 5rem;
      left: 9rem;

      @include respond(tab-port) {
        top: 2rem;
        left: 5rem;
      }

      @include respond(phone) {
        left: 5rem;
      }
    }

    &--2 {
      right: 15%;
      top: 7rem;

      @include respond(tab-port) {
        right: 8%;
        top: 5rem;
      }

      @include respond(phone) {
        right: 8%;
        top: 5rem;
      }
    }

    &--3 {
      left: 27%;
      top: 18rem;

      @include respond(tab-port) {
        top: 11rem;
      }

      @include respond(phone) {
        top: 13rem;
      }
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }

    &:active {
      transform: scale(1.2) translateY(0.5rem); // Slight scale on active state
      left: 10rem;
      z-index: 30; // Ensures it stays on top
    }
  }

  &:hover &_photo:not(:hover) {
    transform: scale(0.95); // Decreases size of non-hovered photos
  }
}
