.page-header {
  display: flex;
  padding: 3rem 5rem;
  height: 17rem;
  background-image: url("../src/assets/img/sleek_black.jpg");
  background-size: cover;
  background-position: center;
  font-family: $font-style-secondary;
  -webkit-background-size: cover;
  -moz-background-size: cover;

  @include respond(phone-land) {
    flex-direction: column;
    padding: 2rem 3rem;
    height: 17rem;
    align-items: center;

    & * {
      margin-bottom: 1rem;
    }
  }

  &__logo-container {
    width: 10rem;

    @include respond(tab-port) {
      width: 8rem; /* Adjust logo size on small screens */
    }
  }

  &__logo {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover; /* Prevents image stretching */

    @include respond(tab-port) {
      display: none;
      visibility: hidden;
      width: 8rem;
      height: 8rem;
    }
  }

  &__current-container {
    width: 50%;
    @include respond(tab-port) {
      width: 100%; /* Stacks on smaller screens */
      text-align: center;

      @include respond(tab-land) {
      }

      @include respond(phone-land) {
      }

      @include respond(mini-phone-land) {
      }

      @include respond(phone) {
      }

      @include respond(mini-phone) {
        width: 100%;
      }
    }
  }

  &__main {
    font-size: 4rem;
    color: $color-primary;

    @include respond(tab-land) {
    }

    @include respond(phone-land) {
      font-size: 4rem;
    }

    @include respond(mini-phone-land) {
    }

    @include respond(phone) {
    }

    @include respond(mini-phone) {
      font-size: 3rem;
    }
  }

  &__sub {
    display: flex;
    font-size: 2rem;
    flex-wrap: wrap; /* Allow wrapping of sub-content on smaller screens */

    @include respond(tab-port) {
      font-size: 1.6rem; /* Smaller font size for sub links on mobile */
      justify-content: center;
    }

    &--link {
      &:link,
      &:visited {
        text-decoration: none;
        color: $color-white;
      }
      position: relative;
      padding-right: 1rem;
    }

    &--link:not(:last-child):after {
      content: "|";
      position: absolute;
      top: 0;
      right: 0;
      color: $color-white;
    }

    &--text {
      padding-left: 0.3rem;
      color: $color-primary;
    }
  }
}
