.popup {
  height: 100vh;
  width: 100vw;
  background-color: rgba($color-black, 0.8);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__content {
    @include abscenter;
    overflow: auto;
    padding-left: 1rem;
    display: flex;
    width: 90%;
    height: 50rem;
    background-color: rgba($color-white, 1);
    position: absolute;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 1s 0.2s;
    border-radius: 3px;
    -webkit-mask-image: linear-gradient(#fff, #fff);
  }

  &__left {
    padding: 1rem 1.9rem;
    width: 40%;
    display: flex;
    flex-direction: column;
  }

  &__right {
    width: 60%;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
  }

  &__img {
  }

  &__text {
    font-size: 1.4rem;
    font-family: $font-style-primary;
    margin-bottom: 4rem;
    text-align: justify;
  }

  &__button {
    margin: 5rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: start;

    &-specs{
        display: flex;
        flex-direction: column;
    }
  }

  &__item {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: $font-style-primary;
    color: $color-grey-dark;
    border-bottom: 1px solid rgba($color-grey-dark, 0.3);
    margin: 1rem 2rem;
  }

  &__specs-container {
    margin-top: 3rem;
  }

  &__features-container{
    margin-top: 4rem;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      right: 2.5rem;
      top: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}

.slider {
  margin-bottom: 20rem;
  & img {
    border-radius: 6px;
    height: 30rem;
    object-fit: cover;
    display: block;
    width: 100%;
  }

  &-nav img {
    height: 10rem;
  }
}

.slick-prev:before,
.slick-next:before {
  color: $color-black;
}


.specs__list{
    display: flex;
    justify-content: space-between;
}